.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 12px;
  gap: 8px;
  height: 40px;
  width: 172px;
  border: none;
  background: #FF2849;
  border-radius: 20px;
  cursor: pointer;
  margin: 3% auto; /* Center horizontally */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.lable {
  line-height: 22px;
  font-size: 17px;
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.button:hover {
  background: #e52441;
}

.button:hover .svg-icon {
  animation: flickering 2s linear infinite;
}

@keyframes flickering {
  0%, 50%, 100% {
      opacity: 1;
  }
  52%, 92% {
      opacity: 0;
  }
  54%, 94% {
      opacity: 1;
  }
  56%, 96% {
      opacity: 0;
  }
  90%, 98% {
      opacity: 1;
  }
}
